/* -------------------------------  RESET  ------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video { margin: 0; padding: 0; border: 0; vertical-align: baseline;}

html {line-height: 1.15; -webkit-text-size-adjust: 100%;}
body {margin: 0;}
main {display: block;}
h1 {font-size: 2em; margin: 0.67em 0;}
hr {box-sizing: content-box; height: 0; overflow: visible;}
pre {font-family: monospace, monospace; font-size: 1em;}
a {background-color: transparent;}
b, strong {font-weight: bolder;}
code, kbd, samp {font-family: monospace, monospace; font-size: 1em;}
small {font-size: 80%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {border-style: none;}
button, input, optgroup, select, textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}
button, input {overflow: visible;}
button, select {text-transform: none;}
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none; padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}

[type="checkbox"], [type="radio"] {box-sizing: border-box; padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield; outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit;}

*{-webkit-box-sizing: border-box; box-sizing: border-box;}

details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}

input {outline:none;}
* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
input[type=text], input[type=submit], textarea {-webkit-appearance: none;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out; -webkit-transition-delay: 9999s;
}
select {outline: 0;}
:focus {outline: none;}

/* -------------------------------  BASE STYLES  ------------------------------- */

body {font-family: 'Euclid Circular A', sans-serif; font-weight: 400; background: #fff; font-size: 14px; line-height: 1.2; color: #160F0F;}


.wrap {max-width: 1300px; padding: 0 60px; margin: 0 auto;}
.title {font-size: 32px; font-weight: 500;}

@media only screen and (max-width: 800px) {
    .wrap {padding: 0 20px;}
    .title {font-size: 22px;}
}

/* ------------------------------- HOME ------------------------------- */

/* header */

/* ... your code here ... */
.container {margin:0 auto; padding:10px; color:#666;}
.header {height:70px; display:flex; align-items: center; margin-bottom: 50px;
    }
.logo {width:64px; height:64px; margin-right: 10px;}
.title-name {font-size:40px; font-weight:bold; color:#191970;}
.setup {background:#4169E1; font-size:14px; color:#ffffff; padding:10px 20px;
    border-radius:5px; border:none; height:34px; margin-left: auto;}
.hidde {display:none;}

.text-blue {color: #4169E1;}
h1 {font-family: 'Euclid Circular A', sans-serif; font-size: 40px; font-weight:100;
    }
.caption-3 {text-align:center;}

.block-1 {display:flex; margin-bottom: 100px;}
.b1-img {width:55%; display:flex; align-items: center; justify-content: center;}
.b1-break {width:5%;}
.b1-text {width:40%; align-items: flex-start;}
p {font-size:14px; font-weight: 200;}
.over-img {position:relative; z-index:3; margin-top:-150px; float:right;}
.b1-mini {position:relative; width:150px; color: #fff;
    border-radius:10px; box-shadow:0px 0px 10px #666; font-size:30px; font-weight:bold;
    text-align:center; padding: 70px 0 10px 0; float:left;
    }
.b1-mini span {font-size:12px; display:block;}
.orange {background: linear-gradient(#FFFF00, #FF8C00); margin-top: -20px; margin-right:20px;}
.cyan {background: linear-gradient(#87CEFA, #4169E1); margin-top: 0px; margin-right:20px;}
.blue {background: linear-gradient(#9370DB, #483D8B); margin-top: -40px; margin-right:20px;}


@media (max-width: 575.98px) {
    .container {width:100%;}
    .header {display:block; text-align: center;}
    .logo {width:32px; height:32px; margin-right: 10px; margin-right: 0;}
    .title-name {font-size:25px; font-weight:400; color:#191970;}
    .setup {background:#4169E1; font-size:14px; color:#ffffff; padding:10px 20px;
        border-radius:5px; border:none; height:34px; margin-left: auto; display:none;}
    .hidde {display:flex; padding-top:20px; align-items: center; width:200px; margin:0 auto;}
    .hidde img {width:24px;}
    .hidde img {width:24px;}
}
@media (min-width:576px) and (max-width: 767.98px) {
    .container {width:540px;}
    .logo {width:48px; height:48px; margin-right: 10px;}
    .title-name {font-size:30px; font-weight:400; color:#191970;}
    .setup {background:#4169E1; font-size:14px; color:#ffffff; padding:10px 20px;
        border-radius:5px; border:none; height:34px; margin-left: auto;}
}
@media (min-width:768px) and (max-width: 991.98px) {
    .container {width:720px;}
    .logo {width:48px; height:48px; margin-right: 10px;}
    .title-name {font-size:30px; font-weight:400; color:#191970;}
    .setup {background:#4169E1; font-size:14px; color:#ffffff; padding:10px 20px;
        border-radius:5px; border:none; height:34px; margin-left: auto;}
}
@media (min-width:992px) and (max-width: 1199.98px) {
    .container {width:960px;}
    .logo {width:48px; height:48px; margin-right: 10px;}
    .title-name {font-size:30px; font-weight:400; color:#191970;}
    .setup {background:#4169E1; font-size:13px; color:#ffffff; padding:5px 10px;
        border-radius:5px; border:none; height:34px; margin-left: auto;}
}
@media (min-width:1200px) and (max-width: 1399.98px) {
    .container {width:1140px;}
    .logo {width:64px; height:64px; margin-right: 10px;}
    .title-name {font-size:40px; font-weight:bold; color:#191970;}
    .setup {background:#4169E1; font-size:14px; color:#ffffff; padding:10px 20px;
        border-radius:5px; border:none; height:34px; margin-left: auto;}
}
@media (min-width: 1400px){
    .container {width:1320px;}
    .logo {width:64px; height:64px; margin-right: 10px;}
    .title-name {font-size:40px; font-weight:bold; color:#191970;}
    .setup {background:#4169E1; font-size:14px; color:#ffffff; padding:10px 20px;
        border-radius:5px; border:none; height:34px; margin-left: auto;}
}
