<!-- your code here -->
<div class="container">

    <!-- HEADER -->
    <div class="header">
        <img src="../images/favicons/favicon-32x32.png" class="logo">
        <div class="title-name">CopyBro</div>
        <button class="setup">Установить</button>
        <div class="hidde">
            <a href=""><img src="../images/apple.png"></a>
            <a href="" style="margin-left:auto;"><img src="../images/play.png"></a>
        </div>
    </div>

    <!-- block 1 -->
    <div class="block-1">
        <div class="b1-text">
            <h1>
                <span class="text-blue">Инвестируйте легко</span><br/> и получайте доход<br/>
                <span class="text-blue">+51,9%</span> годовых <sup class="b1-popup">*</sup>
            </h1>
            <p>Выбирайте стратегии успешных трейдеров како-то текст и
            копируйте сделки в авторежиме. Зарабатывайте легко с
            минимальными рисками через мобильное приложение Copybro.</p>
        </div>
        <div class="b1-break"></div>
        <div class="b1-img">
            <img src="../images/diagram.png" width="320px">
        </div>
    </div>
    <div class="over-img">
        <div class="b1-mini orange">60 мин<span>Сэкономленного времени в день</span></div>
        <div class="b1-mini cyan">от 0,0 &#8381;<span>Платите комиссию только с прибыли</span></div>
        <div class="b1-mini blue">51,9%<span>Средняя годовая доходность</span></div>
    </div>
    <div style="clear:both;"></div>
    <br/><br/><br/><br/>
    <!-- block 2 -->
    <div class="block-1">
        <div class="b1-img">
            <img src="../images/diagram.png" width="320px">
        </div>
        <div class="b1-break"></div>
        <div class="b1-text">
            <h1>
                Автоследование:<br/>
                <span class="text-blue">минимальные риски, </span><br/>
                оптимальная доходность
            </h1>
            <p>Мы собрали для вас лучшие торговые стратегии с подтвержденными данными
            по прошлым сделкам и их доходности.<br/>
            Трейдер ежедневно следит за динамикой рынка, совершая сделки
            и балансируя риски и доходность стратегии.</p>
        </div>
    </div>

    <!-- block 3 -->
    <div class="caption-3">
        <h1>Стать инвестором<br/><span class="text-blue">просто</span></h1>
    </div>
    <!-- -->
    <!-- -->
    <!-- -->
</div>
